@model Garage2._0.Models.ViewModels.IndexViewModel

<h1>Welcome to the Garage 2.0</h1>

<div>
    <a href="@Url.Action("ParkVehicle", "ParkedVehicles")" class="btn btn-primary">Park your vehicle</a>
    <a href="@Url.Action("PickupVehicle", "ParkedVehicles")" class="btn btn-secondary">Pick up your vehicle</a>
</div>
