@* @model IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Parking">Park your vehicle</a>
</p>

<partial name="VehicleListPartial" model="@Model.ParkedVehicles" /> *@