@model Garage2._0.Models.ViewModels.RetrievingViewModel

@{
    ViewData["Title"] = "Pickup Vehicle";
}


<h1>Pickup Vehicle</h1>

<form asp-action="Retrieving" asp-controller="ParkedVehicles" method="post">
    <div class="form-group">
        <label asp-for="RegistrationNumber" >Registration Number</label>
        <input asp-for="RegistrationNumber" class="form-control" id="RegistrationNumber" />
        <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
    </div>
    <button type="submit" id="pickupButton" class="btn btn-primary">Pickup</button>
</form>



