@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* Simple html form: *@

@* @using (Html.BeginForm("SubmitForm", "YourControllerName", FormMethod.Post)) *@
@* <p>Enter Vehicle ID and Type</p>
<div>
    <label for="Id">Id:</label>
    <input type="text" id="Id" name="Id" />
</div>
<div>
    <label for="Type">Type:</label>
    <input type="text" id="Type" name="Type" />
</div>
<div>
    <input type="submit" value="Submit" />
</div> *@

