@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div>
    We are a company specialized in offering a unique garage; available for anyone who wishes to park their car, motorcycle, truck or even boat.
    Use our web services to check in and retrieve your vehicle.
</div>
